---

- name: Include variables
  ansible.builtin.include_vars: "{{ lookup('ansible.builtin.first_found', params) }}"
  vars:
    params:
      files:
        - "{{ ansible_facts['distribution'] }}-{{ ansible_facts['distribution_version'] }}.yml"
        - "{{ ansible_facts['distribution'] }}-{{ ansible_facts['distribution_major_version'] }}.yml"
        - "{{ ansible_facts['distribution'] }}.yml"
        - "{{ ansible_facts['os_family'] }}.yml"
      paths:
        - 'vars'

- name: Set fact is_container
  ansible.builtin.set_fact:
    is_container: true
  when: >
    (ansible_facts['virtualization_type'] is defined and
      (ansible_facts['virtualization_type'] == "docker"
       or ansible_facts['virtualization_type'] == "container"
       or ansible_facts['virtualization_type'] == "containerd"
      )
    )

- name: Set pocketid user
  ansible.builtin.user:
    name: "{{ pocketid_user }}"
    home: "{{ pocketid_home }}"
    system: true

- name: Create encryption key
  when:
    - pocketid_encryption_key | length == 0
  block:
    - name: Include random
      ansible.builtin.include_tasks: random.yml
      vars:
        secretdir: "{{ pocketid_home }}"
        secretprefix: .secrets-pocketid
        secretlength: 64
        secretbase64: true
        name_random: key
    - name: Set fact encryption_key
      ansible.builtin.set_fact:
        pocketid_encryption_key: "{{ secret }}"
      no_log: true

- name: Import pocketid-bare
  ansible.builtin.import_tasks: pocketid-bare.yml
  when:
    - pocketid_setup == 'bare'

- name: Import pocketid-docker
  ansible.builtin.import_tasks: pocketid-docker.yml
  when:
    - pocketid_setup == 'docker'
